.about{
    text-align: center;
    color: white;
    align-items: center;

    margin-top: 3vw;
    margin-bottom: 3vw;
}

hr{
    margin: 0 5vw 4vw 5vw;
    border-radius: 1rem;
    background-color: white;
    height: 2px;
    max-width: 90vw;

    box-shadow: 0 0 10px rgb(167, 66, 255);
}

.moto{
    font-family: "Concert One", sans-serif;
    font-size: 4vw;
    text-shadow: 0 0 10px rgb(100, 0, 188);
}

.data{
    text-justify: newspaper;
    font-size: 1.5vw;
    text-align: justify;

    max-width: 80vw;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
}