.mySkills{
    max-width: 90vw;
    margin: 5vw 5vw 2vw 5vw;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.mySkills span{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.5vw;

    width: 10vw;
    font-size: 1.5vw;
}

.mySkills span:hover{
    background-color: rgba(165, 87, 238, 0.532);
    /* color: black; */
    text-shadow: 0 0 10px black;
}

.mySkills span img{
    width: 8vw;
    height: 8vw;

    margin-bottom: 2vw;
}