.App{
    background-image: url('images/a.jpeg');
    background-size: contain;
    background-repeat: no-repeat;

    font-family: 'Merienda', cursive;

    background-color: black;
}

.App a#goup{
    padding: 4px 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: white;

    border-radius: 50% 50%;
}

a#goup i{
    color: black;
}

.App .contact{
    background-image: url('images/matrix.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contactMe{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}