*{
  margin: 0;
  padding: 0;

  /* background-color: #213d55; */
  color: rgb(255, 255, 255);
  background-repeat: repeat-y;
  background-size: cover;

  scroll-behavior: smooth;
}

.contactMe{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}